html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    background: url('../images/bg-pattern-top.svg'), url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: calc(-50vw + 95%) calc(-55vh + 50%), calc(55vw - 15%) 45vh;
    background-color: $darkCyan;
}